---
const { color, title, subtitle, subtitleTwo, underline } = Astro.props;
const textColor = `text-${color}`;
---

<section
    class="landing-section flex justify-center items-center bg-black h-screen w-screen text-center relative overflow-hidden"
    data-header-color={color}
>
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class={`${textColor} pt-20 text-[40px] font-medium animate-fade-up animate-once animate-duration-[1500ms] animate-delay-500 animate-ease-in-out`}>
                {title}
            </h2>
            <p class={`${textColor} ${underline} text-sm animate-fade-up animate-once animate-duration-[3000ms] animate-delay-[1500ms] animate-ease-in-out`}>
                {subtitle}
            </p>
            <p class={`${textColor} text-sm animate-fade-up animate-once animate-duration-[3000ms] animate-delay-[1500ms] animate-ease-in-out`}>
                {subtitleTwo}
            </p>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div>
                <slot name="footer"/>               
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full z-10 w-full">
        <slot name="background"/>                   
    </div>
</section>
